

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.nav-link {
  color: #000;
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('fonts/Gilroy-ExtraBold.eot');
  src: url('fonts/Gilroy-ExtraBold.woff2') format('woff2'),
       url('fonts/Gilroy-ExtraBold.woff') format('woff'),
       url('fonts/Gilroy-ExtraBold.ttf') format('truetype'),
       url('fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg'),
       url('fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('fonts/Gilroy-Regular.eot');
  src: url('fonts/Gilroy-Regular.woff2') format('woff2'),
       url('fonts/Gilroy-Regular.woff') format('woff'),
       url('fonts/Gilroy-Regular.ttf') format('truetype'),
       url('fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg'),
       url('fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('fonts/Gilroy-Light.eot');
  src: url('fonts/Gilroy-Light.woff2') format('woff2'),
       url('fonts/Gilroy-Light.woff') format('woff'),
       url('fonts/Gilroy-Light.ttf') format('truetype'),
       url('fonts/Gilroy-Light.svg#Gilroy-Light') format('svg'),
       url('fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('fonts/Gilroy-SemiBold.eot');
  src: url('fonts/Gilroy-SemiBold.woff2') format('woff2'),
       url('fonts/Gilroy-SemiBold.woff') format('woff'),
       url('fonts/Gilroy-SemiBold.ttf') format('truetype'),
       url('fonts/Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg'),
       url('fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('fonts/Gilroy-Medium.eot');
  src: url('fonts/Gilroy-Medium.woff2') format('woff2'),
       url('fonts/Gilroy-Medium.woff') format('woff'),
       url('fonts/Gilroy-Medium.ttf') format('truetype'),
       url('fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg'),
       url('fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
} 

body, html{
	width: 100%;
	height: 100%;
	outline:none;
	line-height: 20px;
	letter-spacing: 0.5px;
	font-family: 'Gilroy-Regular';
}
body{
 overflow-x:hidden;
}
img{
	max-width: 100%;
}
ul{
	padding-left: 0;
	list-style: none;
	margin: 0;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Gilroy-ExtraBold';
	margin-top: 0;
	line-height: 22px;
	letter-spacing: 1px;
	color: #45484a;
}

.height100{
	height: 100%;
}
.display_table{
	display: table;
}
section {
    padding-top: 108px;
    display: inline-table;
    width: 100%;
}

.container.custom_container {
    max-width: 1050px;
}
#header ul.nav.navbar-nav.navbar-right {
    margin: 18px 0px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}
header#header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    top: 0;
}
.navbar-inverse {
    background-color: #fff;
    border: none;
    margin-bottom: 0;
}
.navbar-brand {
    height: auto;
}
#myNavbar .nav.navbar-nav{
	margin: 18px 0px;
}
.navbar-brand>img {
    max-width: 140px;
}
header#header.affix {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.11);
}
.btn.custom_theme_btn {
    border-radius: 3px;
    background: #ff671e;
    color: #fff;
    box-shadow: 0 12px 26px 0 rgba(255, 103, 30, 0.19);
    height: 50px;
    padding: 12px 45px;
    font-size: 16px;
    font-family: 'Gilroy-SemiBold';
    letter-spacing: 1px;
}
.hero_img {
    display: table-cell;
    vertical-align: middle;
    width: 55%;
}
.hero_txt{
	display: table-cell;
    vertical-align: middle;
    width: 45%;
    padding-left: 40px;
    text-align:left;
}
.hero_txt h1 {
    line-height: 54px;
    font-size: 44px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #000;
    font-size: 15px;
}
.navbar-inverse .navbar-nav>li>a.active, .navbar-inverse .navbar-nav>li>a:hover {
    color: #ff671e;
}
.hero_lead_txt{
	margin: 30px 0px;
	color: #999a9b;
	font-size: 18px;
    line-height: 24px;
}
.btn.custom_theme_btn:hover {
    box-shadow: none;
}
.about_content{
	display: table-cell;
    vertical-align: middle;
    position: relative;
}
.header_section h2 {
    font-size: 36px;
    line-height: 40px;
}
.about_content p {
    color: #45484a;
    font-size: 28px;
    line-height: 42px;
    max-width: 800px;
    margin-bottom: 25px;
    font-family: 'Gilroy-SemiBold';
}
.about_content p:last-child{
    margin-bottom: 0;
}
.header_section.head_left {
    position: relative;
    margin-bottom: 25px;
}
.header_section.head_left:before {
    content: "";
    position: absolute;
    top: -40px;
    background: #ff671e;
    height: 8px;
    width: 56px;
    border-radius: 4px;
}
.nav-tabs {
    border-bottom: 1px solid #dedfdf;
    margin-top: 40px;
}
.nav-tabs>li>a {
    margin-right: 15px;
    border-radius: 0;
    font-size: 20px;
    color: #7d7f80;
    padding: 7px 10px;
}
.nav-tabs>li {
    margin-bottom: 0;
    width: 33.33%;
}
.nav-tabs>li.active a {
    color: #ff671e;
    border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #ff671e;
    border: none;
    font-family: 'Gilroy-SemiBold';
}
.nav-tabs>li>a:hover {
    color: #ff671e;
    background-color: #fff;
    border-color: transparent;
}
.nav-tabs>li.active a:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 2px;
    background: #ff671e;
}
.header_section.head_center {
    margin-bottom: 30px;
    position: relative;
}
.platform_grid p {
    color: #999a9b;
    font-size: 16px;
    line-height: 28px;
}
.platform_grid {
    padding: 0px 10px;
    margin-top: 25px;
}
.platform_grid h3 {
    font-size: 19px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.platform_content, .blog_content, .contact_content {
    display: table-cell;
    vertical-align: middle;
}
.cont_img {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
}
.contact_form {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding-left: 50px;
    text-align: left;
}
.contact_form .form-control {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #dedfdf;
    border-radius: 0px;
    padding: 8px 0px;
    font-family: 'Gilroy-Medium';
}
.contact_form label {
    font-weight: normal;
    font-family: 'Gilroy-SemiBold';
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 0;
}
textarea.form-control{
    resize:none;
}
.contact_form .form-group {
    margin-bottom: 30px;
}
#contact_us .header_section.head_center {
    margin-bottom: 45px;
}
.blog_grid {
    position: relative;
    margin-top: 30px;
}
.blog_caption p {
    color: #fff;
    font-size: 20px;
    font-family: 'Gilroy-Medium';
    line-height: 25px;
    position: relative;
}
.blog_caption {
    position: absolute;
    bottom: 25px;
    padding: 0px 30px;
}
.blog_caption p:before {
    content: "";
    position: absolute;
    bottom: -15px;
    background: #ff671e;
    height: 4px;
    width: 40px;
    border-radius: 4px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #ff671e;
    background-color: transparent;
}
.arrow_banner {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}
.arrow_banner img {
    max-width: 30px;
}
.footer_left {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
     text-align: left;
}
.footer_right {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.footer_main {
    width: 100%;
    border-top: 1px solid #dedfdf;
    padding: 20px 0px;
}
.footer_logo img {
    max-width: 120px;
    margin-right: 30px;
}
ul.footer_menu li a {
    color: #000;
    font-size: 15px;
}
ul.footer_menu li {
    padding-left: 35px;
}
.footer_logo span {
  color: #000;
    font-size: 15px;
}
#contact_us {
    padding-bottom: 60px;
}
ul.footer_menu li a:hover{
  color: #ff671e;
}
.slick-slide:focus {
    outline: none;
}
ul.tabs li{
    margin-bottom: 0;
    width: 33.33%;
    float: left;
}
ul.tabs li.current{
    color: #ff671e;
    border: none;
    font-family: 'Gilroy-SemiBold';
}
.slick-prev, .slick-next{
    display: none !important;
}

ul.tabs {
    border-bottom: 1px solid #dedfdf;
    margin-top: 40px;
}
.tab-content.current{
    display: block;
}
ul.tabs li p{
    margin-right: 15px;
    border-radius: 0;
    font-size: 20px;
    color: #7d7f80;
    padding: 10px 10px;
    margin-bottom: 0;
    position: relative;
    cursor: pointer;
}
ul.tabs li.current p:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 2px;
    background: #ff671e;
}
ul.tabs li.current p{
    color: #ff671e;
    border: none;
    font-family: 'Gilroy-SemiBold';
    cursor: default;
}
.blog_grid img {
    width: 100%;
}
#hero_banner {
    position: relative;
}
header#header.sticky {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.11);
}

/*** Toggle Menu***/
.menu-opener, .menu-opener:hover, .menu-opener.open_menu, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, #myNavbar, #myNavbar.open_menu {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener {
  cursor: pointer;
  height: 64px;
  position: absolute;
  top: 2%;
  right: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 64px;
}

.menu-opener-inner {
  background: #45484a;
    height: 2px;
    margin-left: 1rem;
    margin-top: 40px;
    width: 40px;
}
.menu-opener-inner::before, .menu-opener-inner::after {
  background: #45484a;
    content: '';
    display: block;
    height: 2px;
    width: 40px;
}
.menu-opener-inner::before {
  -webkit-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  transform: translateY(-1rem);
}
.menu-opener-inner::after {
  -webkit-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  transform: translateY(1rem);
}
.menu-opener-inner.open_menu {
  background: transparent;
  margin-top: 35px;
}
.menu-opener-inner.open_menu::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}
.menu-opener-inner.open_menu::after {
  -webkit-transform: translateY(-0.2rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.2rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.2rem) translateX(0rem) rotate(45deg);
}
div#myNavbar.open_menu {
    display: block;
    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.19);
}
.menu-opener {
    display: none;
}
.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: #ff6f2a !important;
}
.slick-dots li button:before {
    font-size: 12px !important;
    color: #ff6f2a !important;
}
.slick-dots li {
    margin: 0 !important;
}
.navbar-inverse1 {
    background-color: #fff !important;
    border: none !important;
    margin-bottom: 0;
}
section#about_us {
    text-align: left;
}
.white .slide{background: #fff !important}

a:focus, a:hover {
    color: #ff671e;
    text-decoration: none;
}
ul.footer_menu li {
    float: left;
}
.mobile-sec {
    display: none;
}
#hero_banner h1 {
    text-align: left;
}
.carousel .control-dots {
    bottom: -25px !important;
}
.carousel.carousel-slider {
    overflow: visible !important;
}
.carousel .slide img {
    width: auto;
}
.img-box
{width: 100px;height: 100px;}